@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }


/* Light mode styles */
:root {
    --background-color: #F8F9FA;
    --text-color: #0C1E35;
    --form-border: 1px solid #7D84AB;
    --placeholder-color: #7D84AB;
    --background-color-form: #F8F9FA;
    --button-background: #0D6EFD;
    --button-background-hover: #3A4865;
    --form-border-focus: #0d6dfd25;
    --button-color: #DEE2EC;
}

/* Dark mode styles */
.dark-mode {
    --background-color: #0C1E35;
    --text-color: #ffffff;
    --form-solid: 1px solid #5769cc;
    --placeholder-color: #DEE2EC;
    --background-color-form: #0f2d49;
    --button-background: #0D6EFD;
    --button-background-hover: #3A4865;
    --form-border-focus: #e9f1fc25;
    --button-color: #DEE2EC;
}
  
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-image: url('bp.png');
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right;
    opacity: 0.3;
    z-index: -1;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background-color: var(--background-color);
    color: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
    padding-top: 8%;

}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo > h1 {
    background: linear-gradient(to right, #F0C020 50%, var(--text-color) 50%);
    background-clip: text;
    color: transparent;
    display: inline;
}

button {
    border: none;
    background: none;
    margin: 15px 10px;
    padding: 0;
    cursor: pointer;
}

button img.dayNight {
    width: 30px;
    border: none;
    outline: none;
}

/* Estilo para os formularios de login */
form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 40px;
    margin: auto;
    border-radius: 5px;
    align-items: left;
}

form input::placeholder {
    transition: transform 0.3s ease-out;
    transform-origin: top left;
    margin-top: 0;
}


form p {
    text-align: left;
    font-size: 1.2em;
    padding: 0 0 15px 0; 
}

form input[type="email"] {
    width: 100%;
    padding: 20px;
    background-color: var(--background-color-form);
    border: var(--form-border);
    color: var(--text-color);
    border-radius: 5px 5px 0 0;
}

form input[type="email"]::placeholder {
    color: var(--placeholder-color);
}

form input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--form-border-focus);
    z-index: 1;
}

form input[type="email"]:focus::placeholder {
    transform: translateY(-100%) scale(1);
}

form input[type="password"] {
    width: 100%;
    padding: 20px;
    background-color: var(--background-color-form);
    border: var(--form-border);
    color: var(--text-color);
    border-radius: 0 0 5px 5px;
}

form input[type="password"]::placeholder {
    color: var(--placeholder-color);
}

form input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 0 5px var(--form-border-focus);
    z-index: 1;
}

form input[type="password"]:focus::placeholder {
    transform: translateY(-100%) scale(1);
}

form input[type="submit"] {
    width: 100%;
    padding: 15px;
    margin-top: 15px;
    background-color: var(--button-background);
    color: var(--button-color);
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
}

form input[type="submit"]:hover {
    background-color: var(--button-background-hover);
}

/* Estilos para dispositivos móveis (largura máxima de 600px, por exemplo) */
@media only screen and (max-width: 600px) {
    body::before {
        width: 90%;
        height: 56%;
        background-size: 20%;
    }
    
}
